@{
    ViewBag.Title = "Over vesting finance";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Voor financiële vitaliteit en groei van ondernemingen Bedrijven en instellingen willen meer dan ooit efficiënt opereren. 
    Zij besteden processen uit aan betrouwbare, ervaren en kwalitatief goede outsourcingpartners. 
    Vesting Finance is een logische partner op het gebied van credit management en financial servicing.
</p>
