@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vesting Finance Hilversum (hoofdkantoor)<br />
    Bonairelaan 4<br />
    1213 VH Hilversum<br />
    <abbr title="Phone">P:</abbr>
    035 - 79 99 100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>