@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vesting Finance</h1>
    <p class="lead">uw partner in credit management</p>
    <p><a href="https://www.vestingfinance.nl/nl/" class="btn btn-primary btn-lg">OVER ONS &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vesting Finance stelt uw uitdagingen en doelen centraal</h2>
        <p>
            We schatten betaalgedrag in en dragen bij aan verbetering. 
            Samen werken we aan oplossingen voor schuldenproblematiek.
        </p>
        <p><a class="btn btn-default" href="https://www.vestingfinance.nl/nl/over-vesting-finance/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Modulaire diensten en flexibele samenwerkingsvormen</h2>
        <p>
            Om de continuïteit van uw organisatie te borgen en groei te realiseren heeft u werkkapitaal nodig. 
            Als u wilt voorkomen dat uw facturen te lang open staan en uw werkkapitaal fungeert als leverancierskrediet, is professioneel ingericht credit management onontbeerlijk.
        </p>
        <p><a class="btn btn-default" href="https://www.vestingfinance.nl/nl/diensten/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gespecialiseerde teams</h2>
        <p>
            Of uw klanten nu bedrijven, particulieren of stichtingen zijn, elke branche is anders en elk bedrijf heeft 
            een andere cultuur en verkoopvoorwaarden. De professionals van Vesting Finance verdiepen zich in uw 
            organisatie, zodat zij optimaal als verlengstuk kunnen fungeren. Uw beleid, wensen en uitdagingen 
            stellen wij daarbij centraal.
        </p>
        <p><a class="btn btn-default" href="https://www.vestingfinance.nl/nl/branches/">Learn more &raquo;</a></p>
    </div>
</div>